<h1>Form page</h1>
<form method="POST">
    <label for="firstName">Your first name</label>
    <input type="text" id="userName" placeholder="Your name goes here" name="firstName"/>
    <input type="text" id="userPassword" placeholder="Your name goes here" name="firstPassword"/>
    <input type="submit" />
</form>

